<!DOCTYPE html>
<html>
<head>
  <title>Recuperar Contraseña</title>
  <style>
    body {
      font-family: Arial, sans-serif;
      text-align: center;
      padding: 20px;
    }
    
    h1 {
      color: #337ab7;
    }
    
    p {
      margin-bottom: 10px;
    }
    
    .btn {
      display: inline-block;
      padding: 10px 20px;
      background-color: #337ab7;
      color: white;
      text-decoration: none;
      border-radius: 4px;
      cursor: pointer;
    }
    
    .input-group {
      margin-top: 20px;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    
    .input-group label {
      display: block;
      margin-bottom: 5px;
    }
    
    .input-group input {
      width: 100%;
      max-width: 300px;
      padding: 10px;
      border: 1px solid #ccc;
      border-radius: 4px;
    }
  </style>
</head>
<body>
  <h1>Recuperar Contraseña</h1>
  
  <p>Para recuperar tu contraseña, ingresa tu dirección de correo electrónico. Se enviará un enlace para recuperar la contraseña a tu correo electrónico.</p>

  <form action="/api/session/emailrecover" method="post">
    <div class="input-group">
      <label for="email">Ingrese Correo Electrónico:</label>
      <input type="email" id="email" name="email" maxlength="60" required>
    </div>
    
    <button class="btn" type="submit">Enviar</button>
  </form>
  
  <a class="btn" href="/login">Volver a Login</a>

  <script>

  </script>
</body>
</html>
